*{
	padding: 0;
	margin:0;
	font-family:  'Nunito Sans', sans-serif;
	box-sizing:border-box;

}
body{
	background-image: url(back.jpg) ;
	 background-size: cover;
  height: 100%;
	min-height: 100vh;
	display: flex;
	align-items:center;
	justify-content:center;
}

#mainnav .navbar-brand{
	color:#EA1C2C;
	font-size: 1.5rem;
}

#mainnav{
	font-size:1.2rem;
	font-weight: 100;
}


#mainnav .nav-link {
	color:white;
}
#mainnav .nav-link:hover {
	color:#EA1C2C;

}

.contact-info{
	display: flex;
	width: 100%;
	max-width: 1200px;
	align-items:center;
	justify-content:center;
	padding: 0 20px;
}
.card{
	background:#2f3542;
	padding:0 20px;
	margin:0 10px;
	width:calc(33% - 20px);
	height:200px;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:#fff;
	cursor: pointer;
}

.card-icon{
	font-size: 28px;
	background:#ff6348;
	width:60px;
	height:60px;
	text-align: center;
	line-height: 60px !important;
	border-radius: 50%;
	transition:0.3s linear;
}

.card:hover .card-icon{
	background:none;
	color:#ff6348;
	transform:scale(i.6);

}

.card p{
	margin-top:20px;
	font-weight: 300;
	letter-spacing: 2px;
	max-height: 0;
	opacity: 0;
	transition:0.3s linear;
}

.card:hover p{
	max-height: 40px;
	opacity: 1;
}

@media screen and (max-width:800px){
.contact-info{
	flex-direction:column;
}
.card{
	width: 100%;
	max-width: 300px;
	margin:10px 0;
}
}
